* {
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
a {
  text-decoration: none;
}
a img {
  border: 0px;
}
a:hover {
  color: #08c;
}
.head {
  background-color: #2c2f33;
  height: 52px;
  overflow: hidden;
}
.head .logo {
  text-indent: -9999em;
  display: block;
  width: 165px;
  height: 20px;
  margin-top: 12px;
  float: left;
  text-align: right;
  width: 125px;
}
.head .head-menu {
  width: 100%;
  float: right;
}
.head .head-menu a {
  font-family: PingFangSC-Regular;
}
.head .head-menu li {
  list-style: none;
  display: inline;
  position: relative;
  z-index: 2;
}
.head .head-menu li a {
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  line-height: 52px;
  padding: 10px 15px;
  margin-left: 4px;
}
.head .login {
  width: 340px;
  float: right;
  line-height: 52px;
  color: #fff;
  text-align: right;
  opacity: 0.8;
  font-size: 12px;
}
.head .login a {
  color: #fff;
}
.head .login .user-name {
  max-width: 136px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.head-main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  font-family: PingFangSC-Regular;
}
.first-i {
  float: left;
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 52px;
  margin: 0 10px;
  opacity: 0.8;
}
.second-i {
  float: left;
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 54px;
  opacity: 0.8;
}
.head .login .head .head-menu .current-cat a {
  color: #f37327;
  opacity: 1;
  filter: alpha(opacity=100);
  font-family: PingFangSC-Regular;
}
.current a {
  color: #f37327;
}
#menu li a:hover {
  color: #f37327;
  opacity: 1;
  filter: alpha(opacity=100);
}
